*{
    box-sizing: border-box;
}

.header {
position: relative;
padding-top: 40px;
background: linear-gradient(116.47deg, #2559CD 9%, #1D4DC9 41%, #0F38C1 80%);
}
.header .nav-bar {
    margin: auto 50px;
    display: flex;
    justify-content: space-around;
    flex-flow:wrap;
}
.header .nav-bar ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.header .nav-bar ul li {
color: white;
font-family: Roboto;
font-size: 15px;
font-style: normal;
line-height: 18px;
}
.header .nav-bar ul li:not(:last-child){
    margin-right: 20px;
}
.personal-info {

    margin-top: 100px;
    padding: 0px 20px;
    padding-left: 100px;
    color: white;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.personal-info .info-text {
    margin: 30px 0;
}
.personal-info .btn1 {
color: white;
height: 44px;
margin: 30px 10px 30px 0;
font-weight: bold;
font-size: 20px;
width: 120px;
border-radius: 8px;
border: 2px solid #e8e9ee;
background-color: yellowgreen;
}
.personal-info .btn2 {
color: white;
font-weight: bold;
font-size: 20px;
height: 44px;
width: 120px;
border-radius: 8px;
border: 2px solid #e8e9ee;
background-color: #2559CD ;
}
.personal-info img {
    margin-right: 150px;
}
.img-clouds{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.container {
    text-align: center;
    
}
.skills {
    
    display: flex;
    flex-flow:row wrap;
    align-content: space-between;
    justify-content: space-around;
    padding: 50px 100px;
    margin: 30px 0;
}
.skills .skills-title{
    width: 200px;
    margin: 30px;
}
.skills .skills-title h2 {
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #444444;
}
.skills .skills-title p{
    height: 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #555555;
}
.containe{
    padding: 50px 0;
    margin: 0 0 100px 0;
}
.containe h2 {
    text-align: center;
    margin-bottom: 50px;
}
.containe .knowledge {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
}
.language{
    position: relative;
    width: 150px;
    margin: 10px;
}
.language p img{
    
float: left;
}
.latest h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.latest .projects {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
}
.latest .projects img {
    width: 370px;
    margin: 10px;
}
.slider-clients{
    margin-top: 80px;
    text-align: center;
}
.clients {
    position: relative;
    justify-content: space-around;
    display: flex;
    margin: 20px 30px;
    flex-flow: row wrap;
}
.slider-clients .arrow-right{
    position: absolute;
    right: -40px;
    top: 101px;
}
.slider-clients .arrow-left {
    position: absolute;
    left: -11px;
    top: 106px;
}
.clients div {
    width: 289px;
    margin: 10px 0;
}
.fonts p {
    font-weight: normal;
    font-size: 12px;
}
.clients {
    display: flex;
}
.client-1{
text-align-last: left;
position: relative;
}
.clients .img-client img {
    border-radius: 50%;
    width: 50px;
}
.client-1 .client-text {
    text-align: left;
}
.client-1 .name {
    position: absolute;
    left: 64px;
    top: 8px;
}
.client-1 .name .vector {
    position: absolute;
    right: 65px;
}
.client-1 .name .vector-2{
    position: absolute;
    right: 80px;
}
.client-1 .name P { 
    margin: 0;
}
.footer {
    background: linear-gradient(116.47deg, #2559CD 9%, #1D4DC9 41%, #0F38C1 80%);
    text-align: center;
    padding: 60px 0;
}
.footer h2 {
    color: white;
    font-weight: bold;
}
.footer p {
    color: white;
    font-weight: bold;
}
.footer .inputs {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

}
.footer .inputs .input-1{
    margin: 20px 0;
    /* display: flex;
    flex-flow: column wrap; */
    width: 100%;
}
.footer .inputs .input-2{
    margin: 20px 0;
    /* display: flex;
    flex-flow: column wrap; */
    width: 100%;
}
.footer .inputs  input{
    margin: 10px 0;
    height: 40px;
    width: 40%;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2%;
}
.last-input {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column wrap;
}
.footer .input-help{
    
    margin: 20px;
    height: 40px;
    width: 82%;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 2%;
    
}
.all-inputs {
    display: flex;
    flex-flow: column wrap;
}
.all-inputs button {
    width: 180px;
    background: linear-gradient(
99.51deg
, #FDD662 -14.8%, #FCA330 105.66%);
    border-radius: 8px;
    margin-left: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: white;
}
.fonts i {
    color: white;
    margin: 10px;
    font-size: 30px;
}
