*{
    box-sizing: border-box;
}

.header {
position: relative;
padding-top: 40px;
background: linear-gradient(116.47deg, #2559CD 9%, #1D4DC9 41%, #0F38C1 80%);
}
.header .nav-bar {
    margin: auto 50px;
    display: flex;
    justify-content: space-around;
    flex-flow:wrap;
    align-items: center;
}
.header .nav-bar ul {
    list-style: none;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.header .nav-bar ul li {
color: white;
font: italic bold 20px/2 'Dancing Script' ;
}
.header .nav-bar ul li:not(:last-child){
    margin-right: 20px;
}
.personal-info {
    padding-bottom: 100px;
    margin: 20px;
    color: white;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
.personal-info .info-text h1{
    font: normal bold 28px/33px Roboto;
}
.personal-info .info-text h2{
    margin-bottom: 10px;
    font: normal bold 36px/42px roboto;
    }
.personal-info .btn1 {
color: white;
width: 150px;
height: 48px;
margin: 30px 10px 30px 0;
font: normal 500 15px/19px roboto;
border: 2px solid #e8e9ee;
background: linear-gradient(99.51deg, #FDD662 -14.8%, #FCA330 105.66%);
border-radius: 8px;
}
.personal-info .btn2 {
color: #FDBA46;
font: normal 500 15px/19px roboto;
width: 150px;
height: 48px;
border-radius: 8px;
border: 2px solid #e8e9ee;
background-color: #2559CD ;
}
.personal-info img {
    width: 100px;
    margin-top: 67px;
}
.img-clouds{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.container {
    text-align: center;
    
}
.skills {
    
    display: flex;
    flex-flow:row wrap;
    align-content: space-between;
    justify-content: space-around;
}
.skills .skills-title{
    width: 200px;
    margin: 15px 0;
}
.skills .skills-title h2 {
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #444444;
}
.skills .skills-title p{
    height: 51px;
    font: normal normal 14px/16px oblique;
    text-align: center;
    color: #555555;
}
.containe{
    padding: 10px 0;
}
.containe h2 {
    text-align: center;
    margin-bottom: 24px;
}
.containe .knowledge {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
}
.language{
    position: relative;
    width: 150px;
    margin: 10px;
}
.language p img{
    
float: left;
}
.latest h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.latest .projects {
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    
}
.latest .projects img {
    width: 370px;
    margin: 10px;
}
.slider-clients{
    position: relative;
    margin-top: 80px;
    text-align: center;
}
.clients {
    position: relative;
    justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    padding: 0px 60px 90px 60px;
}
.slider-clients .arrow-right{
    position: absolute;
    right: 34px;
    top: 156px;
}
.slider-clients .arrow-left {
    position: absolute;
    left: 18px;
    top: 161px;
}
.clients div {
    width: 240px;
}
.fonts p {
    font-weight: normal;
    font-size: 12px;
}
.clients {
    display: flex;
}
.client-1{
text-align-last: left;
margin: 5px;
padding: 5px;
position: relative;
background: #f1eeee;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
border-radius: 6px;
}
.clients .img-client img {
    border-radius: 50%;
    width: 50px;
}
/* .client-1 .client-text {
    text-align: left;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 16px;
    line-height: 2;
} */
.client-1 .client-text 
{
    font: normal oblique 16px/1.5 'Times New Roman', Times, serif;
    text-align: left;
}
.client-1 .name {
    position: absolute;
    left: 64px;
    top: 8px;
}
.client-1 .name .vector {
    position: absolute;
    right: 65px;
}
.client-1 .name .vector-2{
    position: absolute;
    right: 80px;
}
.client-1 .name P { 
    margin: 0;
}
.footer {
    background: linear-gradient(116.47deg, #2559CD 9%, #1D4DC9 41%, #0F38C1 80%);
    display: flex;
    justify-content: center;

    /* padding: 60px 0; */
}
.footer .container-footer {
    width: 80%;
    padding: 20px;
}
.footer h2 {
    color: white;
    font-weight: bold;
}
.footer p {
    color: white;
    font-weight: bold;
}
.footer .container-footer .inputs {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;

}
.footer .container-footer .inputs .input-1{
    margin: 20px 0;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.footer .container-footer .inputs .input-2{
    margin: 20px 0;
    display: flex;
    flex-flow: column wrap;
    width: 50%;
}
.footer .container-footer .inputs  input{
    margin: 10px 0;
    padding-left: 10px;
    height: 40px;
    width: 95%;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    line-height: 2%;
    border: none;
}
.footer .container-footer .inputs  :-ms-input-placeholder{
    color: red;
}
.last-input {
    padding:10px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-flow: column wrap;
}
.footer .input-help{
    height: 40px;
    width: 98%;
    font: normal normal 16px/2% normal;
    padding-left: 10px;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    color: white;
    letter-spacing: 1px;
    border: none;
    
}
.all-inputs {
    display: flex;
    flex-flow: column wrap;
}
.all-inputs button {
    width: 180px;
    background: linear-gradient(
99.51deg
, #FDD662 -14.8%, #FCA330 105.66%);
    border-radius: 8px;
    font: normal 500 18px/34px roboto;
    color: white;
}
.fonts i {
    color: white;
    margin: 10px;
    font-size: 30px;
}
@media (min-width: 320px) and (max-width: 479px){
        .personal-info img {
            width: 100px;
            margin-top: 20px;
        }
        .personal-info .info-text h1 {
            font: normal bold 19px/8px Roboto;
        }
        .personal-info .info-text h2 {
            font: normal bold 27px/32px roboto
        }
        .header .nav-bar {
            margin: auto 50px;
            display: flex;
            justify-content: space-around;
            flex-flow:column wrap;
            align-items: center;
        }
        .header .nav-names ul {
            list-style: none;
            display: flex;
            flex-flow:column wrap;
            justify-content: center;
            align-items: flex-start;
        }
        .header .nav-bar ul li {
            font: italic bold 16px/2 'Dancing Script' ;
            }
            .footer .container-footer {
                width: 93%;
                padding: 20px;
            }
            .footer .container-footer h2 {
                font-size: 20px;
            }
            .footer .container-footer P {
                font-size: 15px;
            }
            .footer .container-footer .inputs {
                padding: 10px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-content: center;
            }
}
@media (min-width: 320px) and (max-width: 479px){
    .footer .container-footer {
        padding:0px 10px;
        width: 80%; 
    }
    .footer .container-footer .inputs .input-1 {
        width: 100%;
    }
    .footer .container-footer .inputs .input-2 {
        width: 100%;
    }

}
